body {
    display: flex;
    height: 100%;
    flex-direction: column;
}


.Title {
    width: 12rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2rem;
}


.Container {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 
    auto;
    grid-template-rows: 
    auto; */
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 7rem;
}


.Div {
    box-sizing: border-box;
    height: 1rem;
    width: 1rem;
    border: 1px solid black;
    background-color: white;
}

.Clear {
    width: 5rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
}

.SliderWidth {
    width: 12.2rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
}

.cellsValueDisplay {
    height: 1rem;
}

.Sketch {
    width: 5rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
}

.Eraser {
    width: 5rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
}

.Blue {
    width: 5rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: 2rem;
}